In [1]:
from fastai.tabular.all import *
import os

In [2]:
os.path

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
cd /content/drive/MyDrive/Colab Notebooks

/content/drive/MyDrive/Colab Notebooks

In [5]:
path = 'content/drive/MyDrive/Colab Notebooks'

In [6]:
!pwd

/content/drive/MyDrive/Colab Notebooks

In [7]:
df = pd.read_csv('file2.csv')
df.head()

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,FIRE_YEAR,STAT_CAUSE_DESCR,STAT_CAUSE_CODE,LATITUDE,LONGITUDE,STATE,FIRE_SIZE,DISCOVERY_DATE,DISCOVERY_TIME,CONT_DATE,CONT_TIME,DISCOVERY_DATE_Greg,CONT_DATE_Greg,DISCOVERY_MONTH,DISCOVERY_DAY_OF_WEEK,DAYS_SPENT,HRS_SPENT
0,0,2005,Miscellaneous,9.0,40.036944,-121.005833,CA,0.10,2453403.5,1300.0,2453403.5,1730.0,2005-02-02,2005-02-02,2,Wednesday,0.0,4.50
1,1,2004,Lightning,1.0,38.933056,-120.404444,CA,0.25,2453137.5,845.0,2453137.5,1530.0,2004-05-12,2004-05-12,5,Wednesday,0.0,6.75
2,2,2004,Debris Burning,5.0,38.984167,-120.735556,CA,0.10,2453156.5,1921.0,2453156.5,2024.0,2004-05-31,2004-05-31,5,Monday,0.0,1.05
3,3,2004,Lightning,1.0,38.559167,-119.913333,CA,0.10,2453184.5,1600.0,2453189.5,1400.0,2004-06-28,2004-07-03,6,Monday,5.0,118.00
4,4,2004,Lightning,1.0,38.559167,-119.933056,CA,0.10,2453184.5,1600.0,2453189.5,1200.0,2004-06-28,2004-07-03,6,Monday,5.0,116.00

In [8]:
df['DISCOVERY YEAR'] = pd.DatetimeIndex(df['DISCOVERY_DATE_Greg']).year

In [9]:
df = df.drop(columns=['Unnamed: 0','STAT_CAUSE_CODE','DISCOVERY_DATE_Greg','CONT_DATE_Greg','DISCOVERY_DATE','CONT_DATE','DISCOVERY YEAR'])
df

,FIRE_YEAR,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE,STATE,FIRE_SIZE,DISCOVERY_TIME,CONT_TIME,DISCOVERY_MONTH,DISCOVERY_DAY_OF_WEEK,DAYS_SPENT,HRS_SPENT
0,2005,Miscellaneous,40.036944,-121.005833,CA,0.10,1300.0,1730.0,2,Wednesday,0.0,4.500000
1,2004,Lightning,38.933056,-120.404444,CA,0.25,845.0,1530.0,5,Wednesday,0.0,6.750000
2,2004,Debris Burning,38.984167,-120.735556,CA,0.10,1921.0,2024.0,5,Monday,0.0,1.050000
3,2004,Lightning,38.559167,-119.913333,CA,0.10,1600.0,1400.0,6,Monday,5.0,118.000000
4,2004,Lightning,38.559167,-119.933056,CA,0.10,1600.0,1200.0,6,Monday,5.0,116.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1880460,2015,Missing/Undefined,40.481637,-122.389375,CA,0.01,1726.0,1843.0,9,Saturday,0.0,1.283333
1880461,2015,Miscellaneous,37.617619,-120.938570,CA,0.20,126.0,NaN,10,Monday,NaN,NaN
1880462,2015,Missing/Undefined,37.617619,-120.938570,CA,0.10,2052.0,NaN,5,Saturday,NaN,NaN
1880463,2015,Missing/Undefined,37.672235,-120.898356,CA,2.00,2309.0,NaN,10,Wednesday,NaN,NaN
1880464,2015,Miscellaneous,34.263217,-116.830950,CA,0.10,2128.0,NaN,3,Saturday,NaN,NaN

In [10]:
df = df.dropna()

In [12]:
dls = TabularDataLoaders.from_csv('file2.csv', y_names="STAT_CAUSE_DESCR",
    cat_names = ['STATE','DISCOVERY_MONTH','DISCOVERY_DAY_OF_WEEK'],
    cont_names = ['FIRE_YEAR', 'LATITUDE', 'LONGITUDE','FIRE_SIZE','DISCOVERY_TIME','CONT_TIME','DAYS_SPENT','HRS_SPENT'],
    procs = [Categorify, FillMissing, Normalize])

<ipython-input-12-59cec10de474>:1: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  dls = TabularDataLoaders.from_csv('file2.csv', y_names="STAT_CAUSE_DESCR",

In [13]:
splits = RandomSplitter(valid_pct=0.2)(range_of(df))

In [14]:
to = TabularPandas(df, procs=[Categorify, FillMissing,Normalize],
                   cat_names = ['STATE','DISCOVERY_MONTH','DISCOVERY_DAY_OF_WEEK'],
                   cont_names = ['FIRE_YEAR', 'LATITUDE', 'LONGITUDE','FIRE_SIZE','DISCOVERY_TIME','CONT_TIME','DAYS_SPENT','HRS_SPENT'],
                   y_names='STAT_CAUSE_DESCR',
                   y_block=CategoryBlock,
                   splits=splits)

In [15]:
to.xs.iloc[:2]

,STATE,DISCOVERY_MONTH,DISCOVERY_DAY_OF_WEEK,FIRE_YEAR,LATITUDE,LONGITUDE,FIRE_SIZE,DISCOVERY_TIME,CONT_TIME,DAYS_SPENT,HRS_SPENT
104755,4,7,7,-0.865901,-0.581062,-0.779386,-0.036175,1.354182,1.360482,-0.086191,-0.084442
1059436,14,9,7,0.101266,1.160215,-0.990240,-0.036175,0.614018,-0.094601,2.890938,2.883599

In [16]:
dls = to.dataloaders(bs=64)

In [17]:
dls.show_batch()

In [18]:
learn = tabular_learner(dls, metrics=accuracy)

In [24]:
learn.fit_one_cycle(50)

In [25]:
learn.show_results()

In [26]:
row, clas, probs = learn.predict(df.iloc[0])

In [27]:
row.show()

MODEL ARCHITECTURE

In [28]:
learn.model

TabularModel(
  (embeds): ModuleList(
    (0): Embedding(53, 15)
    (1): Embedding(13, 7)
    (2): Embedding(8, 5)
  )
  (emb_drop): Dropout(p=0.0, inplace=False)
  (bn_cont): BatchNorm1d(8, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): LinBnDrop(
      (0): Linear(in_features=35, out_features=200, bias=False)
      (1): ReLU(inplace=True)
      (2): BatchNorm1d(200, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
    (1): LinBnDrop(
      (0): Linear(in_features=200, out_features=100, bias=False)
      (1): ReLU(inplace=True)
      (2): BatchNorm1d(100, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
    (2): LinBnDrop(
      (0): Linear(in_features=100, out_features=13, bias=True)
    )
  )
)